@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", serif;
  background-color: #fff;
  line-height: 1.2;
}
.sm {
  display: none !important;
}
.md {
  display: flex !important;
}
.container {
  max-width: 1300px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}
img {
  max-width: 100%;
  height: auto;
}
.form-main {
  padding: 50px 0px;
}
.form-main h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #2b2f8e;
  margin-bottom: 20px;
}
.form-main form {
  padding: 50px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.form-main form .title-section {
  font-size: 20px;
  color: #2b2f8e;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.form-main form .title-section::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #f26522;
  margin-right: 10px;
  border-radius: 2px;
}
.form-input {
  display: grid;
  gap: 20px;
  margin-bottom: 30px;
}
.form-input::placeholder {
  font-family: "Inter", serif;
}
.form-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.form-item label {
  font-size: 14px;
  font-weight: 500;
  color: #4d4850;
}
.form-item input,
.form-item select {
  width: 100%;
  border-radius: 6px;
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  min-height: 45px;
  border: none;
  padding: 0px 15px;
  font-size: 16px;
  font-family: "Inter", serif;
}
.form-item select option {
  color: #000;
}
.form-main h4 {
  margin-bottom: 20px;
}
.option_columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
}
.option_columns label {
  grid-column: 1 / span 2;
}
.form-radio-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-radio-item label {
  display: flex;
  align-items: center;
  margin: 0px;
  gap: 10px;
}
.form-radio-item input[type="radio"] {
  width: 16px;
  height: 16px;
  box-shadow: 0px 0px 0px;
  min-height: auto;
}
.form-radio > label {
  color: #000;
}
input.input_text_line {
  flex: 1;
  box-shadow: 0px 0px 0px;
  background: transparent;
  border-bottom: 1px dashed;
  border-radius: 0px;
  min-height: auto;
  padding: 0;
  font-size: 14px;
}
.form-main button {
  text-transform: uppercase;
  min-height: 50px;
  background: #000;
  padding: 5px 30px;
  color: #fff;
  font-size: 16px;
  font-family: "Inter", serif;
  font-weight: 500;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  margin-top: 20px;
  cursor: pointer;
}
.text_camket {
  max-width: 600px;
  font-size: 14px;
}
.text_camket input {
  position: relative;
  top: 2px;
}
.form-item p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.form-item-preview {
  max-height: 180px;
  overflow: hidden;
  border-radius: 6px;
}
.form-input-cc input {
  box-shadow: 0px 0px 0px;
}
@media screen and (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
  .form-main h2 {
    font-size: 24px;
  }
  .form-input {
    grid-template-columns: 1fr !important;
    margin-bottom: 20px;
  }
  .form-main form {
    padding: 20px;
  }
  .form-main form .title-section {
    font-size: 16px;
  }
  .form-item input,
  .form-item select {
    font-size: 14px;
  }
  .form-main form .title-section::before {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    flex: 1 0 auto;
  }
  .option_columns {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .option_columns label {
    grid-column: 1;
  }
}
